body{
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}

#gameOver, #playHUD {
   position: absolute;
   visibility: hidden;
}
/* Here h1, h2 and h3 are the main headers in the index page and its changeing 
the font style, the color to black and the text place to the center of the screen*/
h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}
/* This is the restart button which is a button that say restart on it and we 
put a border with the radius of 10px*/
#restartButton{
    border: 2px solid black;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: #232323;
}

#scoreboard {
    margin: 0px;
}